.bloc-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: 1px solid black;
    height: 500px;
}

.blocs {
    width: 100%;
    height: 100px;
}

.bg-peru {
    background-color: peru;
}

.bg-turquoise {
    background-color: paleturquoise;
}

.bg-violetred {
    background-color: palevioletred;
}