.wrap {
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

.bloc-container {
    display: flex;
    border: 1px solid black;
    padding: 50px 0;
    height: 100%;
}

.blocs {
    width: 200px;
    height: 200px;
}

.bg-peru {
    background-color: peru;
}

.bg-turquoise {
    background-color: paleturquoise;
}

.bg-violetred {
    background-color: palevioletred;
}