.bloc-container {
    display: flex;
    justify-content: center;
}

.blocs {
    width: 100px;
    height: 100px;
}

.bg-peru {
    background-color: peru;
}

.bg-turquoise {
    background-color: paleturquoise;
}

.bg-violetred {
    background-color: palevioletred;
}